<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <script>activateLogin();</script>
    <form th:action="@{/login}" method="post" class="mt-2 w-50">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="email" class="form-control" name="email" th:placeholder="#{login.email}" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" th:text="#{login.password}"></span>
            </div>
            <input type="password" class="form-control" name="password" th:placeholder="#{login.password}" required>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group w-100">
                <button class="btn btn-primary w-50" type="submit" autofocus th:text="#{login.sign_in}"></button>
                <a class="btn btn-secondary w-50" th:text="#{login.sign_up}" th:href="@{/register}"></a>
            </div>
        </div>
    </form>
</div>
</body>

</html>