<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <script>activateRegister();</script>
    <form th:action="@{/register}" method="post" class="mt-2 w-50">
        <input class="mb-3 form-control" type="email" th:name="email" th:placeholder="#{registration.email}" pattern=".{3,60}" required>
        <input class="mb-3 form-control" type="password" th:name="password" th:placeholder="#{registration.password}" pattern=".{4,}" onchange="validatePassword()" th:id="password" required>
        <input class="mb-3 form-control" type="password" th:name="confirm_password" th:placeholder="#{registration.password.confirm}" pattern=".{4,}" onkeyup="validatePassword()" th:id="confirm_password" required>
        <input class="mb-3 form-control" type="text" th:name="name" th:placeholder="#{registration.name}" pattern="[A-Za-z ]{1,120}" required>
        <div class="mb-3 align-self-center g-recaptcha" th:attr="data-sitekey=${@captchaUtil.getSite()}"></div>
        <button class="btn btn-primary mb-2 w-100" type="submit" th:text="#{registration.sign_up}"></button>
        <a th:text="#{registration.resend.link}" th:href="@{/register/resend}"></a>
    </form>
</div>
</body>

</html>