<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <script>activateRegister();</script>
    <form class="mt-2 w-50" method="post" th:action="@{/register}">
        <input class="mb-3 form-control" pattern=".{3,60}" required th:name="email" th:placeholder="#{registration.email}" type="email">
        <input class="mb-3 form-control" onchange="validatePassword()" pattern=".{4,}" required th:id="password" th:name="password" th:placeholder="#{registration.password}" type="password">
        <input class="mb-3 form-control" onkeyup="validatePassword()" pattern=".{4,}" required th:id="confirm_password" th:name="confirm_password" th:placeholder="#{registration.password.confirm}" type="password">
        <input class="mb-3 form-control" pattern="[A-Za-z ]{1,120}" required th:name="name" th:placeholder="#{registration.name}" type="text">
        <div class="mb-3 align-self-center g-recaptcha" th:attr="data-sitekey=${@captchaUtil.getSite()}"></div>
        <button class="btn btn-primary mb-2 w-100" th:text="#{registration.sign_up}" type="submit"></button>
        <a th:href="@{/register/resend}" th:text="#{registration.resend.link}"></a>
    </form>
</div>
</body>

</html>