<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <form class="mt-2 w-50" method="post" th:action="@{/register/resend}">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input class="form-control" required th:name="email" th:placeholder="#{registration.email}" type="email">
        </div>
        <button class="btn btn-primary w-100" th:text="#{registration.resend}" type="submit"></button>
    </form>
</div>
</body>

</html>