<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <form th:action="@{/register/resend}" method="post" class="mt-2 w-50">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input class="form-control" type="email" th:name="email" th:placeholder="#{registration.email}" required>
        </div>
        <button class="btn btn-primary w-100" type="submit" th:text="#{registration.resend}"></button>
    </form>
</div>
</body>

</html>